<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Operations</th>
    </thead>
    <tbody>
    <tr th:each="user:${usersList}">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.email}">Email</td>
        <td th:utext="${user.phoneNumber}">Phone number</td>
        <td><a th:href="@{/users/edit(id=${user.id})}">Edit</a></td>
        <td><form th:action="@{/users/remove}" th:method="post">
            <input type="hidden" name="id" th:value="${user.id}" />
            <button type="submit">Remove</button>
        </form></td>
    </tr>
    <a th:href="@{/users/new}">Add new User</a>
    </tbody>

</table>

</body>
</html>